<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/main.css">
  {% if not session.username %}
<p>
  <header>
    <p>Sinun täytyy kirjautua sisään luodaksesi uuden kokemuksen.</p>
    <a href="/login">Kirjaudu sisään</a>
  </header>
</p>
{% endif %}
{% if session.username %}
<head>
  <title>Uusi kokemus</title>
</head>

<body>
  <header>
  <h1>Uusi kokemus</h1>
  <form action="/create_experience" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" required  />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" required></textarea>
    </p>
    <p>
      Arvosana (1-5): <br />
      <input type="radio" name="rating" value="1" required /> 1
      <input type="radio" name="rating" value="2" required /> 2
      <input type="radio" name="rating" value="3" required /> 3
      <input type="radio" name="rating" value="4" required /> 4
      <input type="radio" name="rating" value="5" required /> 5
    </p>
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    Osasto: <br />
    <select name="category" required>
      <option value="luonto">Luonto</option>
      <option value="kaupunki">Kaupunki</option>
      <option value="kulttuuri">Kulttuuri</option>
      <option value="seikkailu">Seikkailu</option>
      <option value="rentoutuminen">Rentoutuminen</option>
      <option value="ranta">Ranta</option>
      <option value="historia">Historia</option>
      <option value="muu">Muu</option>
    </select>
    <p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
    <a href="/">Peruuta ilmoitus</a>
  {% endif %}
</html>

