<!DOCTYPE html>
<html>
<head>
  <title>Matkailukokemuksia</title>
  <style>
    .user-info {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    }
    .experience-list {
    position: absolute;
    top: 135px;
    left: 10px;
    text-align: left;
    }

  </style>
</head>

<body>
    <h1>Tervetuloa matkailukokemusten pariin!</h1>
    
    {% if session.username %}
  
      <a href="/kokemukset">Uusi ilmoitus</a>
        
    </div>
    {% endif %}
      <a href="/find_kokemukset">Etsi ilmoitus</a>
    

    {% if session.username %}
    <div class="user-info">
      <p>Olet kirjautunut nimellä <strong>{{ session.username }}</strong></p>
      <a href="/logout">Kirjaudu ulos</a>
      <a href="/profile">Profiili</a>
      
    </div>
    {% endif %}
  </div>

  <p>
    {% if not session.username %}
    <div class="user-info">
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    </div>
    {% endif %}
  </p>
  <p>
  </p>
  <h2>Matkailukokemukset</h2>
    <ul class="experience-list">
    {% if not items %}
      <li>Ei matkailukokemuksia.</li>
    {% endif %}
    {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
