<!DOCTYPE html>
<html>

<head>
  <title>Matkailukokemuksia</title>
  <style>
    .header {
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .user-info {
      text-align: right;
    }
  </style>
</head>

<body>
  <div class="header">
    <h1>Tervetuloa matkailukokemusten pariin!</h1>
    
    {% if session.username %}
    <div class="nav-links">
        <a href="/kokemukset">Uusi ilmoitus</a>
    </div>
    {% endif %}

    {% if session.username %}
    <div class="user-info">
      <p>Olet kirjautunut nimellä <strong>{{ session.username }}</strong></p>
      <a href="/logout">Kirjaudu ulos</a>
      
    </div>
    {% endif %}
  </div>

  <p>
    {% if not session.username %}
    <div class="user-info">
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    </div>
    {% endif %}
  </p>
  <p>
  </p>

  <h2>Matkailukokemukset</h2>
  <ul>
  {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>
</body>

</html>
