<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Etusivulle</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required />
      {% if error %}
      <div class="error-message">{{ error }}</div>
      {% endif %}
    </p>
    <input type="submit" value="Kirjaudu" />
    
    <a href="/">Etusivulle</a>
    <a href="/register">Rekisteröidy</a>
  </form>
  {% endif %}
</body>

</html>