<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/main.css">

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Etusivulle</a>
  </p>
  {% else %}
  <header>
  <form action="/login" method="post">
    <p>
      
      Tunnus: <br />
      <input type="text" name="username" value="{{ request.form.username }}" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required />
      {% if error %}
      <div class="error-message">{{ error }}</div>
      {% endif %}
    </p>
    <input type="submit" value="Kirjaudu" />
    <header>
    <a href="/">Etusivulle</a>
    <a href="/register">Rekisteröidy</a>
  </header>
  </form>
  {% endif %}
</body>

</html>