<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/main.css">
<head>

<body>
  <header>
  <h1>Profiili</h1>

  {% if username %}
  <div class="user-info">
    <p>Olet kirjautunut nimellä <strong>{{ username }}</strong></p>
    <p>Julkaisuja: <strong>{{ post_count }}</strong></p>
    <p>Tykkäyksiä yhteensä: <strong>{{ likes_count }}</strong></p>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Etusivu</a>
  </div>
  {% endif %}
</header>
  <h2>Matkailukokemukset</h2>
  <ul class="experience-list">
    {% if not items %}
      <li>Sinulla ei ole vielä matkailukokemuksia.</li>
    {% endif %}
    {% for item in items %}
      <li>
        <a href="/item/{{ item.id }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
