<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/main.css">

<head>
  <title>Ilmoituksen poisto</title>
</head>
<body>
  <h1>Ilmoituksen poisto</h1>
  <p>Oletko varma, että haluat poistaa ilmoituksen "{{ item.title }}"?</p>
  <form action="/remove_experience/{{ item.id }}" method="post">
    <input type="submit" name="remove"value="Kyllä, poista ilmoitus" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="back" value="Peruuta" />

  </form>
  <p>

  </p>
</body>
</html>