<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title}}</title>
</head>

<body>
  <h1>{{ item.title }}</h1>
  {% if session.username == item.username %}
    <p>
        <a href="/edit_experience/{{ item.id }}">Muokkaa</a>
        <a href="/remove_experience/{{ item.id }}">Poista</a>
    </p>
    {% endif %}

    <p><strong>Ilmoittaja:</strong> {{ item.username }}</p>
    <p style="white-space: pre-wrap; overflow-wrap: break-word; max-width: 50vw;">
  {{ item.description }}
</p>
  <p><strong>Arvosana:</strong> {{ item.rating }}</p>
<p>
  Kategoria:
  {% if categories %}
    <span style="white-space: pre-wrap; overflow-wrap: break-word;">{{ categories }}</span>
  {% else %}
    Ei määritelty
  {% endif %}
</p>
    <strong>Tykkäykset:</strong> {{ count }}</p>
    {% if session.username %}
    {% if liked %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit" name="action" value="unlike">Peru tykkäys</button>
        </form>
    {% else %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit" name="action" value="like">Tykkää</button>
        </form>
    {% endif %}

    

{% endif %}
  <p>
    <h3>Jätä kommentti</h3>
    <form method="post">
        <textarea name="comment" rows="4" cols="50" placeholder="Kirjoita kommenttisi tähän..." required></textarea>
        <br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

        <button type="submit" name="action" value="comment">Lähetä kommentti</button>
    </form>
    <a href="/">Etusivulle</a>

  <h3>Kommentit</h3>
  {% if not comments %}
    <p>Ei kommentteja</p>
  {% endif %}
  <ul>
    {% for c in comments %}
    <li>
        <strong>Käyttäjä: {{ c.username }}</strong> <span style="white-space: pre-wrap; overflow-wrap: break-word;">
          {{ c.comment }}</span>
        <small style="color: gray;">{{ c.created_at }}</small>
    </li>
    {% endfor %}

    </p>
  </ul>
  </p>
</p>
</body>
</html>